@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>

<section class="back-contact"" id="about">
    <div class="container">
        <h2 class="text-center text-uppercase text-secondary mb-0">About Me</h2>
        <hr class="star-dark mb-5">
        <div class="row">
            <div class="col-lg-4 ml-auto">
                <p class="text-secondary">I'm a student of software developer. I have learned many full-stack Web development. I learned HTML, CSS3, JavaScript, React.js and server side technologies. I am currently studying Software Developer. One of the characteristics that made me want to be a programmer is that technology does not stop evolving.</p>
            </div>
            <div class="col-lg-4 mr-auto">
                <p class="text-secondary">
                    Today I am 36 years old and when I look at the not too distant past, I am amazed at how the world has changed since my childhood.
                    And I believe that the fact that technology is constantly evolving is also an attraction for me to choose to pursue this area of knowledge. It's exciting to think about the possibilities and be part of this evolution.
                </p>
            </div>
        </div>
        <div class="container">
            <h2 class="text-center text-uppercase text-secondary mb-0">Education</h2>
            <hr class="star-dark mb-5">
            <div class="row">
                <div class="col-lg-4 ml-auto">
                    <p class="text-secondary">
                        2018 - 2019

                        Manitoba Institute of Trades and Technology

                        Software Developer.
                    </p>
                </div>
                <div class="col-lg-4 mr-auto">
                    <p class="text-secondary">
                        2014 - 2016

                        Estacio de Sa

                        System Analysis and Development.. It's exciting to think about the possibilities and be part of this evolution.
                    </p>
                </div>
                <div class="col-lg-4 mr-auto">
                    <p class="text-secondary">
                        2005 - 2007

                        Universo Center of Education and development

                        Technical Electrical and Automation.
                    </p>
                </div>
            </div>
            <div class="text-center mt-4">
                <a class="btn btn-xl btn-outline-dark" href="~/img/portfolio/JOYCE-REINOSO-Resume.pdf" download>
                    <i class="fas fa-download mr-2"></i>
                    My Resume!
                </a>
            </div>
        </div>
</section>
