
@{
  ViewBag.Title = "JavaScriptEx";
}
@section scripts{
    <script type="text/javascript" src="~/Scripts/JavaScriptEx01.js"></script>
    @Scripts.Render("~/bundles/jquery")
}

<h2>JavaScriptEx</h2>
<form class="form-group frm-test">
    <div class="form-group">
        <label for="formGroupExampleInput">First Number</label>
        <input type="number" class="form-control" id="input01" placeholder="First Number">
    </div>
    <div class="form-group">
        <label for="formGroupExampleInput2">Second Number</label>
        <input type="number" class="form-control" id="input02" placeholder="Second Number">
    </div>
    <div class="form-group">
        <label for="formGroupExampleInput">Third Number</label>
        <input type="number" class="form-control" id="input03" placeholder="Third Number">
    </div>
    <div class="form-group">
        <label for="formGroupExampleInput2">Fourth Number</label>
        <input type="number" class="form-control" id="input04" placeholder="Fourth Number">
    </div>
    <div class="form-group">
        <label for="formGroupExampleInput2">Fifth Number</label>
        <input type="number" class="form-control" id="input05" placeholder="Fifth Number">
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>
<h4 class="ex01"> Determine which number is the least: </h4>
<div class="test-content">  </div>

<h4 class="ex01"> Determine which number is the greatest: </h4>
<div class="test-content2">  </div>

<h4 class="ex01">Determine the mean of the numbers </h4>
<div class="test-content3">  </div>

<h4 class="ex01">Determine the sum of all the numbers </h4>
<div class="test-content4">  </div>

<h4 class="ex01">Determine the product of all the numbers</h4>
<div class="test-content5">  </div>

