@{
    ViewBag.Title = "Home Page";
}
<!-- Header -->
<header class="masthead bg-primary text-white text-center">
    <div class="container">
        <img class="img-fluid mb-5 d-block mx-auto" id="mypics" src="/img/profile.png" alt="">
        <h1 class="text-center text-uppercase text-secondary mb-0">Joyce Reinoso</h1>
        <hr class="star-dark mb-5">
        <h2 class="text-center text-uppercase text-secondary mb-0">Software Developer Jr</h2>
    </div>
</header>
    